<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>멋쟁이사자처럼::맛있는레시피</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <script>
    function submitRecipe(url) {
      const form = document.getElementById("recipe-form");
      form.action = url;
      form.submit();
    }

    function IngredientDelete(url, recipe, ingredient) {
      const form = document.getElementById("ingredient-form");
      form.action = url;
      form.querySelector("input[name='recipe_id']").value = recipe;
      form.querySelector("input[name='id']").value = ingredient;
      form.submit();
    }
  </script>
</head>
<body class="container">

<div th:replace="~{fragments/topnav :: topnav('🥩 레시피 보기')}"></div>

<form th:action="@{/recipes/edit}" method="post" class="form-container" id="recipe-form">
    <label>
      <span th:text="${recipeDto.title}"></span>
      <small th:text="${#temporals.format(recipeDto.createdAt, 'yyyy-MM-dd HH:mm')}" class="small-date">></small>
    </label>

      <ul class="ingredient-list" th:if="${ingredients}">
        <li th:each="ingredient : ${ingredients}">
          <span class="ingredient-info">
            <span class="ingredient-name" th:text="${ingredient.name}">재료명</span>
            <span class="ingredient-quantity" th:text="${ingredient.quantity}">재료양</span>
          </span>
          <button type="button"
                  th:onclick="|IngredientDelete('/recipes/${recipeDto.id}/ingredients/${ingredient.id}/remove', ${recipeDto.id}, ${ingredient.id})|"
                  class="small-button">
            재료 삭제
          </button>
        </li>
      </ul>

    <label>
      <span>조리법 : </span>
      <textarea rows="6" th:field="${recipeDto.description}" disabled></textarea>
    </label>

    <div class="button-group">
      <a th:href="@{'/recipes/' + ${recipeDto.id} + '/edit'}" class="btn">수정</a>
      <button type="button" th:onclick="|submitRecipe('/recipes/${recipeDto.id}/delete')|">삭제</button>
      <a th:href="@{/recipes}" class="btn">목록</a>
    </div>
</form>

<form th:action="@{/recipes/{id}/ingredients/add(id=${recipeDto.id})}" th:object="${ingredientDto}" method="post" class="form-container-s">
  <input type="hidden" th:name="recipeId" th:value="${recipeDto.id}" />
   <label>
    재료 : <input type="text" th:field="*{ingredient_name}" />
  </label>
  <label>
    양 : <input type="text" th:field="*{quantity}" />
  </label>
  <button type="submit">추가/수정</button>
  <span class="small-error" th:if="${#fields.hasErrors('ingredient_name')}" th:errors="*{ingredient_name}"></span>
  <span class="small-error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
</form>

<form method="post" id="ingredient-form" style="display: none;">
  <input type="hidden" name="recipe_id"/>
  <input type="hidden" name="id" />
</form>

</body>
</html>